* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
  display: grid;
  grid-template-columns: 2fr 4fr;
  background-color: #393f4d;
}

.logo {
  justify-self: start;
}

.menu {
  display: grid;
  align-items: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  background-color: #ff7755;
}

.sidebar .photo {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-column: 2 / -1;
  background-color: #ff7755;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  list-style-type: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-area: 3 / 2 / 4 / -1;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / -1;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
